@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --my-background: #b9f89c;
  --my-color: #666666;
  --other-color: #666666;
  --new-color: #444444;

}
body {
  background: var(--my-background);
  color: var(--my-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
  
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;
  
}

.header {
  grid-column: 4/12;
  padding-top: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  
}

.editor {
  grid-column: 4/10;
  display: grid;
  
}

.editor__title {
  letter-spacing: 2px;
 
  margin-bottom: 0;
  font-size: 28px;
}

.footer {
  grid-column: 3/11;
  grid-row: 4/5;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  border-top: #444444 solid 1px;
  @media (min-width: 1024px) {
    margin-top: 50px;
  }}

.edit {
  grid-column: 10/11;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 55px;
  
 
}



.message__text {
  width: 100%;
  height: 300px;
  font-family: 'Lemonada', cursive;
  border-radius: 10px;
  color: var(--new-color);
  -webkit-box-shadow: 6px 22px 42px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 22px 42px -5px rgba(0,0,0,0.75);
  box-shadow: 6px 22px 42px -5px rgba(0,0,0,0.75);
 
}

.under--js {
text-decoration: underline;
}

.storage {
  grid-row: 3/4;
  grid-column: 4/10;
  display: flex;
  position: relative;
  justify-content: flex-end;
  
  
}

.storage__button {
  margin-left: 15px;
  padding: 10px 15px; 
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  border: solid #444444 1px;
  background: white;
  color: var(--other-color);
   margin-bottom: 5px;
}

.storage__button--other {
  
}

.storage__button--hidden {
  position: absolute;
  top: 5px;
  right: 1px;
  font-size: 14px;

  @media (min-width: 1024px) {
    visibility: hidden;
    
}}



.storage__list {
  display: none;  
  @media (min-width: 1024px) {
  display: flex;
 

}}


.new--js {
display: block;
 margin-top: 50px;
 display: flex;
 flex-direction: column;
 align-items: flex-end;

 font-size: 12px;
}



.storage__list-item {
  list-style-type: none;
}

.decoration__button {
  border-radius: 10px;
  border: #444444 solid 1px;
    padding: 8px;
    font-weight: bold;
    font-size: 18px;
    background: white;
    color: var(--other-color);
}

.font__item {
  border-radius: 10px;
  border: #444444 solid 1px;
   padding: 5px;
  background: white;
  height: 34px;
  
  
  
}

.font__size {
  border-radius: 10px;
  border: #444444 solid 1px;
  padding: 8px;
  font-weight: bold;
    font-size: 18px;
    background: white;
    color: var(--other-color);
}

.font__list {
  border-radius: 10px;
  border: #444444 solid 1px;
  padding: 8px;
  font-weight: bold;
    font-size: 18px;
    width: 100px;
    color: var(--other-color);
}

.other__list {
  border-radius: 10px;
  border: #444444 solid 1px;
  padding: 8px;
  font-weight: bold;
    font-size: 18px;
    width: 100px;
    color: var(--other-color);

}

.other__button {
  border-radius: 10px;
  border: #444444 solid 1px;
  padding: 8px;
  font-weight: bold;
    font-size: 18px;
    background: white;
    color: var(--other-color);
}












